.dashboard-container {
    padding: 1rem;

    & input {
        /* border: 0; */
        margin-bottom: 1rem;
    }

}

.show-tickets {
    max-width: 100%;
    min-height: 30vh;
    max-height: 70vh;
    overflow-y: auto;
    margin: 1rem 0;
}

.ticket-filters {
    display: flex;
    border-bottom: 1px solid lightgray;
    gap: 2rem;
    align-items: center;
    cursor: pointer;

    & .filter {
        height: 100%;
        padding: 1rem;
    }

    & .active-filter {
        border-bottom: 2px solid var(--primary);
    }

}

.icon {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}