.dashboard-container {
    /* background-color: red; */

    & input {
        /* border: 0; */
        margin-bottom: 1rem;
    }
}

.show-tickets {
    max-width: 100%;
    min-height: 30vh;
    max-height: 40vh;
    padding: 1rem;
    overflow-y: auto;
}

.ticket-filters {
    display: flex;
    background-color: lightblue;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    cursor: pointer;

}

.icon {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}