.hero-container {
    padding: 6rem;
    width: 100%;
    height: 92vh;
    display: flex;
    /* background-color: red; */

    & .content-wrapper {
        /* background-color: yellow; */
        flex: 1.3;
        display: flex;
        align-items: center;

        & .content {
            /* background-color: green; */

            & h1 {
                font-size: 5vw;
                font-family: var(--barlow-font);
                color: var(--text-color);
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: 1.5rem;
            }

            & p {
                font-size: 0.9rem;
                color: var(--text-color);
                margin-bottom: 2rem;
                line-height: 1.6;
            }

        }
    }

    & .hero-image {
        /* background-color: green; */
        flex: 1;

        & img {
            width: 100%;
        }
    }
}

@media (max-width:798px) {
    .hero-image {
        display: none;
    }

    .content h1 {
        font-size: 10vw!important;
        max-width: 100%;
    }

    .hero-container {
        padding: 2rem;
    }

}