.configuration-cards {
    padding: 12px;
    background-color: white;
    border-radius: 1rem;
    margin: 0 auto;
    margin-bottom: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;


}

input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}
.thankBtn {
    padding: 8px 20px;
    background-color: var(--primary-btn);
    color: white;
    border-radius: 10px;
    margin: 1rem 0;
}