.footer {
    background-color: #f8f9fa;
    padding: 40px;
    font-family: sans-serif;
    border-top: 1px solid #ddd;
}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    row-gap: 3rem;
}

.footer-column {
    /* margin: 10px; */

    & .title {
        font-size: 1.4rem;
    }

    & ul {
        list-style: none;
    }
}


.footer-social {
    grid-column: 1 /-1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 2rem;
}


.icon {
    color: #555555;
    font-size: 1.5rem;
}